extends layout

block content
  .container.content
    #row1.row
      h1 The Matching Algorithm
      br
      p
        | The Matching Algorithm is the brains of the application. It matches users based upon common units and availability times. If users have even a single unit in-common they will be matched to maximise the chance for users to find a study partner. That is to say it is it primarily based off common units matches. Once this part of the algorithm has been undergone it then checks for common availability times to ensure the best match. In the future we would like to develop some more front-end functionality for the algorithm to highlight things such as identical availability times helping users find the best match and showing the strength of the algorithm.
