extends layout

block content
    h1 References
    | Front logo: https://www.trashedgraphics.com/346
    h1 Bio
    h4 Jason Ankers (21493118)
    | Primary areaa of contribution: Organisation, Unit finder, Experience module, Design
    h4 Jim Reynolds (21471601)
    | Primary areas of contribution: User Authentication, Error Handling, Personal & Contact Module
    h4 Maktoom Ahmed (21728592)
    | Primary areas of contribution: Matching Algorithm, Matches Page
