extends layout

block content
	#row2.row
		h1  User Panel
		.oneElement
			.module-container.notices
				.module-header.notices
					a Notices
				.module-content.notices
					a You currently have no notices!
		.twoElement
			.module-container.left
				.module-header
					a Your Units
				ul#unit-list.module-content-list
					li
						.module-content-text.vacantTxt No units selected!
				.module-footer
					button#unit-edit-btn.button.modify Edit
					#unitModal.modal
						.modal-wrapper
							.modal-header
								a Unit Selector
							.modal-content
								a.modal-content-title Select your units:
							.modal-content
								#unit-searchbox
									input#unit-search.typeahead.form-control(type='text', placeholder='Search...')
							ul#unitlist.modal-list
							.modal-footer
								span.close
									button.button Close
								button#unitSubmit.button.login Save
			.module-container.left
				.module-header
					a Experience
				#experience.module-content
					ul.module-content-list
						li
							.module-content-header C#
							.module-content-text
								| Sample text to demonstrate the ability for users to enter their own experience details. Experience entries are entered entirely by the user, and give an opportunity to list any skillsets which might be of interest to other users.
							.module-footer.experience
								button.button.modify.removeExp -
						li
							.module-content-header C++
							.module-content-text
								| Sample text to demonstrate the ability for users to enter their own experience details. Experience entries are entered entirely by the user, and give an opportunity to list any skillsets which might be of interest to other users.
							.module-footer.experience
								button.button.modify.removeExp -
						li
							.module-content-header Java
							.module-content-text
								| Sample text to demonstrate the ability for users to enter their own experience details. Experience entries are entered entirely by the user, and give an opportunity to list any skillsets which might be of interest to other users.
							.module-footer.experience
								button.button.modify.removeExp -
				.module-footer
					button#add-exp.button.modify.add +
					button#cancel-exp.button.modify.cancel Cancel
		.twoElement
			.module-container
				.module-header
					a Personal & Contact Information
				ul.module-content-list
					li
						.module-content-header
							a Name:
						.module-content-text
							a=name
					li
						.module-content-header
							a Age:
						.module-content-text
							a=age
					li
						.module-content-header
							a Phone:
						.module-content-text
							a=phone
					li
						.module-content-header
							a Email:
						.module-content-text
							a=email
			.module-container
				.module-header
					a Availability
				ul#day-list.module-content-list
					li
						.module-content-text.vacantTxt No days selected!
				.module-footer
					button#availability-edit-btn.button.modify Edit
					#availabilityModal.modal
						.modal-wrapper
							.modal-header
								a Availability
							.modal-content
								a.modal-content-title Choose your availability
							ul.modal-list
								li
									label.timeframe-list-label
										input.checkbox.day(type='checkbox')
										| Monday
									.timeframe
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
										a  To&nbsp
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
								li
									label.timeframe-list-label
										input.checkbox.day(type='checkbox')
										| Tuesday
									.timeframe
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
										a  To&nbsp
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
								li
									label.timeframe-list-label
										input.checkbox.day(type='checkbox')
										| Wednesday
									.timeframe
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
										a  To&nbsp
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
								li
									label.timeframe-list-label
										input.checkbox.day(type='checkbox')
										| Thursday
									.timeframe
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
										a  To&nbsp
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
								li
									label.timeframe-list-label
										input.checkbox.day(type='checkbox')
										| Friday
									.timeframe
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
										a  To&nbsp
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
								li
									label.timeframe-list-label
										input.checkbox.day(type='checkbox')
										| Saturday
									.timeframe
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
										a  To&nbsp
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
								li
									label.timeframe-list-label
										input.checkbox.day(type='checkbox')
										| Sunday
									.timeframe
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
										a  To&nbsp
										.dropdown.inactive
											button.button.modify.drop-btn 0:00
											.drop-content
												a 12:00am
												a 1:00am
												a 2:00am
												a 3:00am
												a 4:00am
												a 5:00am
												a 6:00am
												a 7:00am
												a 8:00am
												a 9:00am
												a 10:00am
												a 11:00am
												a 12:00pm
												a 1:00pm
												a 2:00pm
												a 3:00pm
												a 4:00pm
												a 5:00pm
												a 6:00pm
												a 7:00pm
												a 8:00pm
												a 9:00pm
												a 10:00pm
												a 11:00pm
							.modal-footer
								span.close
									button.button Close
								button#availSubmit.button.login Save
