doctype html
html(lang='en')
  head
    title=title
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
  body(class=pagename)
    if loggedIn
      .pageFiller
        #topNav
          nav.navbar
            .navbar-header
              a#navBrand.navbar-brand(href='/') StudyFinder
            ul.nav.navbar-nav
              li
                a.navButton(class=name == 'control' ? "active" : "" href='/users/control') User Panel
              li
                a.navButton(class=name == 'matches' ? "active" : "" href='/users/matches') Matches
            ul.nav.navbar-nav.navbar-right
              li
                a.navButton(href='/logout') Logout
    else
      .pageFiller
        #topNav
          nav.navbar
            .navbar-header
              a#navBrand.navbar-brand(href='/') StudyFinder
            ul.nav.navbar-nav.navbar-right
              li
                a.navButton(href='/signup') Sign Up
    .container.content
      block content
    footer.pageFiller
      .container.footer
        #footer-lastmodified
    script(src='/javascripts/scripts.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
